@font-face {
  font-family: ostrichSans;
  src: url(../fonts/ostrich-sans/OstrichSans-Light.otf);
}
@font-face {
  font-family: tabatha;
  src: url(../fonts/tabatha-font/Tabatha-BF651e76f3dd9fa.otf);
}

.h1_forside {
  color: #210d9e;
  font-size: 4rem;
  font-family: "tabatha";
}

.contact_section {
  background-color: #210d9e;
  width: 100%;
  height: 70vh;
}
.menu_section {
  width: 100%;
  height: 100vh;
}
.map_section {
  width: 100%;
  height: 100vh;
}
.aboutUs_section {
  background-color: violet;
  width: 100%;
  height: 100vh;
}
.virkAftale_section {
  width: 100%;
  height: 100vh;
}
.menu_boks {
  width: 100%;
  height: 115vh;
}

.blue_bg_tekst p {
  color: #fffbea;
}

.blue_bg_tekst h2 {
  color: #fffbea;
}
.blue_bg_tekst h3 {
  color: #fffbea;
}

h2 {
  font-family: "ostrichSans";
  font-size: 4rem;
  letter-spacing: 1rem;
}
h3 {
  font-family: "ostrichSans";
  font-size: 3rem;
}

p {
  font-size: 1.3rem;
  line-height: 2em;
}

.flasker_tegning {
  width: 20%;
  height: auto;
}

.sandwich_tegning {
  width: 30%;
  height: auto;
}
.menu_section p,
h2 {
  color: black;
  text-align: center;
}

.contact_h2 {
  color: #fffbea;
}
.menu_afstand h2 {
  color: #210d9e;
}

.menu_afstand p {
  color: black;
}
.grøntsager_tegning {
  width: 25%;
}
footer {
  background-color: #210d9e;
  width: 100%;
  height: bottom;
}
.footer_tekst {
  color: #fffbea;
}

.map_side ol li {
  font-size: 1.5rem;
  text-align: center;
  line-height: 2em;
  list-style-type: none;
}

.tekst_farveSort {
  color: black;
}

.tekst_farveSort h2 {
  color: #210d9e;
}

.tilbage_knap {
  width: 6rem;
  height: 3rem;
}
.h1_menu {
  color: #210d9e;
  font-family: "tabatha";
  font-size: 4rem;
}

.top_spacing_h1 {
  color: #210d9e;
  font-family: "tabatha";
}

#menu_main p {
  line-height: 1em;
  font-size: 1.2em;
}
#menu_main h3 {
  font-size: 2rem;
}
#menu_main h2 {
  font-size: 2rem;
  color: black;
  text-align: start;
  letter-spacing: 0;
}

.menu_section1,
.menu_section2 {
  border-bottom: solid 2px #210d9e;
}
.menu_section1Tapas,
.menu_section2Tapas {
  border-bottom: solid 2px #210d9e;
}

.menu_section_left {
  border-right: solid 2px #210d9e;
}

.menu_links a {
  text-decoration: none;
  text-decoration: underline;
  font-size: 1.2em;
  padding-left: 1.4rem;
  padding-right: 1.2rem;
  color: #210d9e;
}
.menu_links {
  position: relative;
  right: 1vh;
}

/* .lined_thin {
  border-radius: 255px 40px 225px 40px/40px 225px 40px 255px;
  color: #210d9e;
  border-color: #210d9e;

  background-color: transparent;
} */
/* 
.lined_thin_forside{
    border-radius: 255px 40px 225px 40px/40px 225px 40px 255px;
    color: #210D9E;
    border-color: #210D9E;
    width: 10%;
    height: 30%;
    background-color: transparent;
} */
/* .lined_thin_forside_blueBg {
  color: #fffbea;
  border-color: #fffbea;
  width: 50%;
  height: 30%;
  border-radius: 255px 40px 225px 40px/40px 225px 40px 255px;
  background-color: transparent;
} */

.burger-menu {
  z-index: 1000;
}

.salat_h3 {
  color: #210d9e;
  font-size: 2rem;
}
.menu_section2Tapas ol li{
 font-size: 1.2rem;
}

.about_img{
  width: 50%;
  height: auto;
}
.about_img1{
  width: 100%;
  height: auto;
  
}


/* burger menu */

.burger-menu {
  position: fixed;
  left: 10px;
  top: 10px;
  z-index: 1000;
  width: 7%;
  height: 7%;

}

.menu-toggle {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  
}

.bar {
  width: 2rem;
  height: 0.2rem;
  background-color: #333; /* Adjust color for better visibility */
  margin: 0.15em 0;
  transition: 0.4s;
  position: relative;
  left: 1.8vh;
  top: 1.4vh;

}

.menu-open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-open .bar:nth-child(2) {
  opacity: 0;
}

.menu-open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.nav {
  display: none;
}

.nav ul {
  list-style: none;
  padding: 0;
}

.nav li {
  margin: 10px 0;
}

.nav a {
  text-decoration: none;
  color: #333; /* Adjust link color */
  font-weight: bold;
}

.content {
  margin-top: 50px; /* Adjust margin to prevent content from being covered by the sticky menu */
}

 #aboutUsBody header{
  overflow: hidden;
}

 #aboutUsBody main{
  overflow: hidden;
}
 #aboutUsBody footer{
  overflow: hidden;
}

/* ... Your existing styles ... */

#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #33333380;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  width: 5%;
  height: 7%;
  font-size: 3em;
  z-index: 1000;
}

#scrollToTopBtn:hover {
  background-color: #555555;
}

.nav ul li a{
  font-family: "ostrichSans";
  font-size: 1.5rem;
  position: relative;
  top: 1vh;
  left: 1vh;
}

.colorChange{
  color: #fffbea;
}



